.btn {
  background-color: $mainGreen;
  color: $darkTeal;
  text-decoration: none;
  padding: .5rem .8rem;
  display: inline-block;
  font-weight: 400;

  &--grey {
    margin-left: 0.3rem;
    color: #FFF;
    font-weight: 300;
    background-color: rgba($mainGrey, .8);

    @mixin atMedium {
      margin-left: 0.6rem;
    }
  }

  &--large {
    padding: .9rem 1.4rem;
    margin-top: 0.6rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }

    @mixin atMedium {
      padding: 1.8rem 4.1rem;
      font-size: 1.8rem;
    }
  }
}

.btn:hover {

}
