.large-hero {
  position: relative;

  &__image {
    display: block;
    padding: 0;
    margin: 0;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    color: #FFF;
    font-size: 1.4rem;
    margin-bottom: 0;

    @mixin atMedium {
      font-size: 4rem;
    }
  }

  &__description {
    color: #FFF;
    font-size: .9rem;
    font-weight: 300;
    text-shadow: 1px 1px $mainGrey;

    @mixin atMedium {
      font-size: 1.4rem;
    }
  }
}
